/* Schriftart importieren */
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mavenpro/v28/7Au9p_AqnyWWAxW2Wk3GzWQI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/mavenpro/v28/7Au9p_AqnyWWAxW2Wk3GzWQI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', Arial, Helvetica, sans-serif ;
}

.con {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(8, 200px);
    grid-template-rows: 50px 200px 200px 200px 200px 50px;
    gap: .4em;
    grid-template-areas: 
    "L L n1 n2 n3 n4 M M"
    "A B . . . . I I"
    ". . F . E . I I"
    "H H . G . D . ."
    "H H . . . . C ."
    "W . . . . Z . ."
    ;
}
.heading {
    grid-column: 4 / 7;
    grid-row: 3 / 4;
    z-index: 1;
}

.top {
   font-size: 1.5rem;
    padding: 10px 0 0 10px;
}

h1 {
    font-size: 9.5em;
    color: red;
    font-weight: 400;
    letter-spacing: 5px;
    
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.logo {
    grid-area: L;
}
.nav1 {
    grid-area: n1;
}
.nav2 {
    grid-area: n2;
}
.nav3 {
    grid-area: n3;
}
.nav4 {
    grid-area: n4;
}
.menu{
    grid-area: M;
}
.i1 {
    grid-area: A;
}
.i2 {
    grid-area: B;
}
.i3 {
    grid-area: C;
}
.i4 {
    grid-area: D;
}
.i5{
    grid-area: E;
}
.i6 {
    grid-area: F;
}
.i7 {
    grid-area: G;
}
.i8 {
    grid-area: H;
}
.i9 {
    grid-area: I;
}
.f1 {
    grid-area: W;
}
.f2 {
    grid-area: Z;
}
